body{
	background: linear-gradient(white, #ADD8E6);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Menu*/

#menu{
	height: 60px;
	width: 850px;
	border: 1px solid transparent;
}

#menu ul li{
	font-family: menu_font;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	width: 155px;
	border: 1px solid transparent;
	position: relative;
	float: left;
	list-style: none;
	text-align: center;
	margin: -17px 0 0 0;
	right: 40px;
	background-color: #ADD8E6;
}

#menu ul li:hover{
	background-color: DeepSkyBLue;
}

@font-face{
	font-family: menu_font;
	src: url(font/menu_font.ttf);
}
/*Menu*/